<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Form</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<form th:action="@{/employees/save}" th:object="${EMPLOYEE}" method="post" class="needs-validation" novalidate>
	<h3 align="center" style="color:purple">Add New Employee</h3>
		<input type="hidden" th:field=*{empId}><br> <br>
		FirstName:<input type="text" placeholder="enter fname" th:field="*{firstName}" class="form-control col-4 mb-6"><br>
		LastName:<input type="text" placeholder="enter lname" th:field="*{lastName}" class="form-control col-4 mb-4"><br>
		Email:<input type="text" placeholder="enter email" th:field="*{email}" class="form-control col-4 mb-4"><br>
		Department:<input type="text" placeholder="Enter department" th:field="*{department}" class="form-control col-4 mb-4"><br>
		<button type="submit" class="btn btn-primary col-2">Save</button>
		<input type="hidden" th:field="*{empId}" />
	</form>
	<hr />
	<a th:href="@{/employees/list}" class="btn btn-secondary">Back to list</a>
</body>
</html>