<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
</head>
<body>
	<div class="container mt-4">
	<h1>Employee Details</h1>
		
		<a class="btn btn-primary btn-md" th:href="@{/employees/showFormForAdd}">Add New Employee</a> <br> <br>

		<table class="table table-bordered table-condensed table-hover table- stripped" id="employeeTable">
			<thead>
				<tr class="bg-primary">
					<th>Id</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Email</th>
					<th>Department</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody class="bg-info">
				<tr  th:each="e: ${EMPLOYEES}">
					<td th:text="${e.empId}"></td>
					<td th:text="${e.firstName}"></td>
					<td th:text="${e.lastName}"></td>
					<td th:text="${e.email}"></td>
					<td th:text="${e.department}"></td> 
					<td>
					<a th:href="@{/employees/showFormForUpdate(employeeId=${e.empId})}" class="btn btn-success btn-md" title="update this employee">Update</a>
					<a th:href="@{/employees/delete(employeeId=${e.empId})}" class="btn btn-danger btn-md" title="delete this employee" onClick="if(!(confirm('Are You sure to delete employee details'))) return false">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
	<script>
        $(document).ready(function () {
            var table = $("#employeeTable").DataTable({
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "order": []
            });

            // Add DataTables search functionality
            $('#searchInput').on('keyup', function () {
                table.search(this.value).draw();
            });
        });
    </script>
</body>
</html>